#Header{
    text-align:center; 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
}
#leftNav{
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    float: left;  
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 8px 
    background-color: #BE41D5;
}
#Content{
    width: 700px;
    border:solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align:center;
    padding: 15px
    background-color: #BE41D5;
}
#Footer{
    list-style-type: none;
    padding-left: 0px;
    border: solid 8px black;
    text-align:center; 
    background-color:#BE41D5; 
}
